* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(13, 13, 20)
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;

}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover {
    background-color: rgba(0,136,169,0.8);
}

.square1 {
    padding-bottom: 250px;
    font-family: "Montserrat Black";
    color: #edf0f1;
    background-image: linear-gradient(to right, #0087a9 , rgb(0, 68, 255));
}

.Projects {
    font-family: "Montserrat Black";
    color: #edf0f1;
    font-size: 150px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding-top: 300px;
    text-shadow: 0 0 20px #edf0f1
}

.down {
    padding: min(50px, 7%);
    
}

.card {
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background-color: #222429;
    text-align: center;
}

.grid-cointainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
}

h2 {
    background-color: #222429;
}

p {
    background-color: #222429;
}